.App {
  text-align: center;
  background-color: black;
}

.App-img {
  width: 75%;
}

.LinkBox-img {
  width: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns:
  minmax(100px, max-content)
  repeat(auto-fill, 200px) 20%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
