.Navbar {
    background-color: black;
    /* min-height: 10vh; */
    /* align-items: center;
    justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    color: white;
    /* position: sticky; */
    /* top: 0; */
  }